{% extends 'base.html.twig' %}

{% block title %}Ogłoszenia.pl{% endblock %}

{% block body %}
    <a class="btn btn-primary"  href="{{ url('announcement_new') }}">{{ 'Dodaj ogłoszenie' |trans }}</a>
    {% if  is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary"  href="{{ url('all_categories') }}">{{ 'Zarządzaj kategoriami' |trans }}</a>
        <a class="btn btn-primary"  href="{{ url('all_categories' ) }}">{{ 'Zarządzaj użytkownikami' |trans }}</a>

    {% endif %}

    </br>
    <hr>
    </br>

    <h1>{{ 'Lista ogłoszeń'|trans }}</h1>
    {% if pagination is defined and pagination|length %}


        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>




        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Tytuł'|trans, 'a.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Treść'|trans, 'a.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Kategoria'|trans, 'a.categories') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Data dodania'|trans, 'a.createdAt') }}</th>
{#                <th>{{ knp_pagination_sortable(pagination, 'Daodane przez: '|trans, 'a.user') }}</th>#}
                 {% if is_granted('ROLE_USER') or  is_granted('ROLE_ADMIN') %}
                <th>{{ 'Jedno ogłoszenie'|trans }}</th>
                     {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for announcement in pagination %}

                <tr>

                    <td>{{ announcement.title }}</td>
                    <td>{{ announcement.content }}</td>
                    <td> {{ announcement.getCategory().categoryName }} </td>
                    <td> {{ announcement.createdAt|date('Y-m-d') }} </td>
{#                    <td> {{ announcement.user }} </td>#}
                    {#                    <td>{{ item.accepted}}</td>#}
                    {% if is_granted('ROLE_USER') or  is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ url('one_announcement', {id:announcement.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'Pokaż'|trans }}
                        </a>
                    </td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'Brak ogłoszeń'|trans }}
        </p>
    {% endif %}

{% endblock %}


