{% extends 'base.html.twig' %}
{% block title %}Ogłoszenia.pl{% endblock %}

{% block body %}

    <a class="btn btn-primary" href="{{ url('announcement_new') }}" role="button">Dodaj ogłoszenie</a>

<div>

    <table class="table">
        <thead class="thead-light">

                <tr>

                    <th scope="col">Tytuł</th>
                    <th scope="col">Treść Ogłoszenia</th>
                    <th scope="col">Kategotia</th>
                    <th scope="col">Pokaż ogłoszenie</th>
                </tr>
        </thead>
        {% for item in announcements %}
               <tr>

                   <td>{{ item.title }}</td></a>
                    <td>{{ item.content }}</td>
                    <td> </td>
{#                    <td>{{ item.accepted}}</td>#}

                   <td>
                       <a href="{{ url('one_announcement', {id:item.id}) }}" title="{{ 'action.view'|trans }}">
                           {{ 'Pokaż'|trans }}
                       </a>
                   </td>

                </tr>

        <tbody>
            {%  endfor %}
        </table>
          
    </div>
{% endblock %}

