{% extends 'base.html.twig' %}

{% block title %}Ogłoszenia.pl{% endblock %}

{% block body %}
    <div class="all">

    <h1>{{ 'Lista ogłoszeń'|trans }}</h1>
    <a class="btn btn-primary"  href="{{ url('announcement_new') }}">{{ 'Dodaj ogłoszenie' |trans }}</a>
    </div>
    {% if pagination is defined and pagination|length %}


        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>




        <table class="table table-striped">
            <thead>
            <tr>
                {% if  is_granted('ROLE_ADMIN') %}
                    <th>{{ knp_pagination_sortable(pagination, 'Status'|trans, 'a.accepted') }}</th>
                {% endif %}
                <th>{{ knp_pagination_sortable(pagination, 'Tytuł'|trans, 'a.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Treść'|trans, 'a.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Kategoria'|trans, 'a.categories') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Data dodania'|trans, 'a.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Daodane przez: '|trans, 'a.getUser().login') }}</th>
                 {% if is_granted('ROLE_USER') or  is_granted('ROLE_ADMIN') %}
                <th>{{ 'Jedno ogłoszenie'|trans }}</th>
                     {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for announcement in pagination %}

                <tr>
                    {% if  is_granted('ROLE_ADMIN') %}
                        <td>{{ announcement.accepted == 1 ? "tak" : "nie"}}
                        {% if announcement.accepted == 0 %}
                            <a href="{{ url('accept_announcement', {id:announcement.id}) }}" title="{{ 'action.view'|trans }}">
                            </br>
                                {{ 'Zaakceptuj'|trans }}
                            </a>
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>{{ announcement.title }}</td>
                    <td>{{ announcement.content }}</td>
                    <td> {{ announcement.getCategory().categoryName }} </td>
                    <td> {{ announcement.createdAt|date('Y-m-d') }} </td>
                    <td>   <a href="{{ url('one_user', {id:announcement.getUser().id}) }}" title="{{ 'action.view'|trans }}">
                            {{ announcement.getUser().login }} </a>
                    </td>

                    {% if is_granted('ROLE_USER') or  is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ url('one_announcement', {id:announcement.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'Pokaż'|trans }}
                        </a>
                    </td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'Brak ogłoszeń'|trans }}
        </p>
    {% endif %}

{% endblock %}


