{% extends 'base.html.twig' %}

{% block title %}
    Ogłoszenie.pl
{% endblock %}

{% block body %}

    <h2>Ogłoszenie</h2>

    <table class="table table-sm">
    <thead>

    {% if item is defined and item|length %}
        <tr>
            <th scope="col">
                <dt>{{ item.Title }}</dt>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <dd>{{ item.Content }}</dd>
            </td>
        </tr>
        <td>
        </br>
            <dd>{% if user.id == item.user.id or is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-primary" href="{{ url('announcement_edit', {'id':item.id})  }}" role="button">
                        {{ 'Edytuj'|trans }}
                    </a>
                    <a class="btn btn-primary" href="{{ url('announcement_delete', {'id':item.id})  }}" role="button">
                        {{ 'Skasuj'|trans }}
                    </a>
                {% endif %}
            </dd>
        </td>
        </tbody>
        </table>

    {% else %}
        <p>
            Item not found.
        </p>
    {% endif %}



    {{ form_start(form, { method: 'POST', action: url('comment_new') }) }}
    {{ form_widget(form) }}
    <div class="right">
        <input type="submit" value="{{ 'Dodaj komentarz'|trans }}" class="btn btn-primary"/>
    </div>
    <div class="all">
        <a class="btn btn-primary" href="{{ url('all_announcement') }}" role="button">
            {{ 'Powrót do listy'|trans }}
        </a>

    </div>
    {{ form_end(form) }}
    <div>

        <table class="table">
            <thead class="thead-light">

            <tr>


                <th scope="col">Komentarz</th>
                <th scope="col">Data dodania</th>
                <th scope="col">Daodane przez:</th>

            </tr>
            </thead>
            {% for item in comments%}
            <tr>

                <td>{{ item.CommentContent }}</td>
                <td> {{  item.createdAt|date('Y-m-d') }}</td>
                <td>{{ item.getUser().login }}</td>

            </tr>

            <tbody>
            {% endfor %}
        </table>

    </div>


{% endblock %}


