{% extends 'base.html.twig' %}

{% block title %}Ogłoszenia.pl{% endblock %}

{% block body %}
    <div class="all">

        <h1>{{ 'Lista użytkowników'|trans }}</h1>

    </div>
    {% if pagination is defined and pagination|length %}


        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>



        <table class="table table-striped">
            <th>{{ 'Id' }}</th>
            <th>{{'Login' }}</th>
            <th>{{ 'Usuń użytkownika' }}</th>
            <tbody>
            {% for user in pagination %}

                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.login }}</td>
                    <td>   <a  href="{{ url('user_delete', {'id':user.id})  }}" role="button">
                            {{ 'Usuń'|trans }}
                        </a> </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
        </br>
        </br>
        </br>
            {{ 'Brak użytkowników.'|trans }}
        </p>
    {% endif %}

{% endblock %}


