{% extends 'base.html.twig' %}

{% block title %}Ogłoszenia.pl{% endblock %}

{% block body %}
    <div class="all">

        <h1>{{ 'Moje konto:'|trans }}</h1>

    </div>






        <table class="table table-striped">
            <th>{{ 'Id' }}</th>
            <th>{{'Login' }}</th>
            <th>{{'Imię' }}</th>
            <th>{{'Nazwisko' }}</th>
            <th>{{'mail' }}</th>
            <th>{{'Numer telefonu' }}</th>
            <th>{{'Miasto' }}</th>
            <tbody>


                <tr>

                    <td>{{ user.id }}</td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.getUserData().name}}</td>
                    <td>{{ user.getUserData().lastname}}</td>
                    <td>{{ user.getUserData().mail}}</td>
                    <td>{{ user.getUserData().phonenumber}}</td>
                    <td>{{ user.getUserData().city}}</td>
                </tr>

            </tbody>
        </table>

<dd>{% if user.id == user.id  %}
        <a class="btn btn-primary" href="{{ url('one_user', {'id':user.id})  }}" role="button">
            {{ 'Zmień hasło'|trans }}
        </a>
        <a class="btn btn-primary" href="{{ url('edit_user', {'id':user.id})  }}" role="button">
            {{ 'Edytuj login'|trans }}
        </a>
        <a class="btn btn-primary" href="{{ url('edit_user_data', {'id':user.id})  }}" role="button">
            {{ 'Edytuj dane '|trans }}
        </a>
    {% endif %}
</dd>


        {% endblock %}


