{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Dodaj zdjecie!'|trans }}
{% endblock %}

{% block body %}


    {{ form_start(form, { method: 'POST', action: url('photo_new') }) }}
    {{ form_widget(form) }}
    <div class="right">
        <input type="submit" value="{{ 'Dodaj zdjedie'|trans }}" class="btn btn-primary"/>
    </div>
    <div class="all
">
        <a class="btn btn-primary" href="{{ url('all_announcement') }}" role="button">
            {{ 'Powrót do listy'|trans }}
        </a>

    </div>
    {{ form_end(form) }}
{% endblock %}