{% extends 'base.html.twig' %}

{% block title %}Ogłoszenia.pl{% endblock %}

{% block body %}


    <h1>{{ 'Opinie o naszym serwisie: '|trans }}</h1>
    <div class="all">
        {% if is_granted('ROLE_USER') or  is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary"  href="{{ url('opinion_new') }}">{{ 'Dodaj opinie' |trans }}</a>
        {% endif %}
    </div>
    </br>
    </br>
    </br>


    {% if pagination is defined and pagination|length %}


        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>


        <table class="table table-striped">

            <tbody>
            {% for opinion in pagination %}

                <tr>

                    <td>{{ opinion.content }}</td>
                    {% if  is_granted('ROLE_ADMIN') %}
                    <td>  <a  href="{{ url('opinion_delete', {'id':opinion.id})  }}" >
                            {{ 'Skasuj'|trans }}
                        </a></td>
                    {% endif %}


                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'Brak opinii'|trans }}
        </p>
    {% endif %}

{% endblock %}


