
{% extends 'base.html.twig' %}

{% block title %}
    {% if page_title_param is defined %}{{ page_title|trans(page_title_param) }}{% else %}{{ page_title|trans }}{% endif %}
{% endblock %}

{% block body %}

    <h1>
        {% if page_title_param is defined %}{{ page_title|trans(page_title_param) }}{% else %}{{ page_title|trans }}{% endif %}
    </h1>

    {{ form_start(form, { method: attr.method|default('POST')}) }}
    {% if false == form.vars.valid %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'danger',
            message: 'Błąd'|trans,
        }%}
    {% endif %}

    {{ form_widget(form) }}

    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ submit_label|default('Dalej'|trans) }}" class="btn btn-primary" />
    </div>
    {% if back_to_list_path|default(false) %}
        <div class="form-group row float-sm-left">
            <a href="{{ url('all_announcement') }}" class="btn btn-link">
                {{ 'Powrót'|trans }}
            </a>
        </div>
    {% endif %}
    {{ form_end(form) }}

{% endblock %}